:root {
  --header-color: #212121;
  --peculiarities-title-color: #212121;
  --peculiarities-text-color: #757575;
  --title-color: #212121;
  --main-color: #fffffff;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
  color: #212121;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.header {
}
.header-navigation {
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.first-logo-clr {
  color: #2196f3;
}
.header-list {
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #2196f3;
}

.header-mail {
}
.header-tel {
}

/* ---------------------HERO--------------------- */
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

.hero-btn:hover {
  color: #2196f3;
  background-color: #f5f4fa;
}

/* ---------------------peculiarities--------------------- */
.peculiarities {
}
.peculiarities-list {
}
.peculiarities-item {
}
.peculiarities-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--peculiarities-title-color);
}
.peculiarities-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--peculiarities-text-color);
}

/* ---------------------about--------------------- */

.about {
}
.about-title {
  ont-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.about-list {
}
.about-item {
}

/* ---------------------team--------------------- */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------------footer--------------------- */

.footer {
  background-color: #2f303a;
}
.footer-list {
}

.footer-logo-clr {
  color: #ffffff;
}

.footer-adres-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adres-link:hover,
.footer-adres-link:focus {
  color: #2196f3;
}
.footer-contacts-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-item:hover,
.footer-contacts-item:focus {
  color: #2196f3;
}
.footer-mail {
}
.footer-tel {
}

/* -----------------------------PORTFOLIO------------------------------ */

.filters-item-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border-color: inherit;
  border: none;
}

.filters-item-btn:hover,
.filters-item-btn:focus {
  color: #f5f4fa;
  background-color: #2196f3;
}

/* ---------------------projects--------------------- */

.projects-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
